@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Khula:wght@400;600;700&display=swap');
body {
    font-family: 'Khula', sans-serif;
  }

html, body, #root {
    /* height: 100vh; */
  }

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
.animate-fade-in {
  animation: fade-in 0.5s;
}

.sidebar-icon-red {
  filter: brightness(0) saturate(100%) invert(17%) sepia(99%) saturate(7492%) hue-rotate(357deg) brightness(97%) contrast(108%);
}
  